@using RetailInvetorySystem.Models
@model Category

@section title{
    <h3>Product Category</h3>
}
@if (Model != null)
{
    <p>Name: @Model.Name</p>
}
@if (Model != null)
{
    <partial name="_Category" model="@Model"></partial>
}

