@using RetailInvetorySystem.Models
@model Category

@section title{
    <h3>Product Category</h3>
}
@if (Model != null)
{
    <p>Name: @Model.Name</p>
}

<form method="post" asp-controller="Categories" asp-action="Edit">
    <input type="hidden" asp-for="CategoryId"/>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Name" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Description" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Description" class="form-control" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
