@model ProductViewModel 
@{
    string action = ViewBag.Action ?? string.Empty;
}

<form method="post" asp-controller="Products" asp-action="@action">
    @if (action.ToLower() == "edit")
    {
        <input type="hidden" asp-for="Product.ProductId"/>
    }
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Product.CategoryId" class="form-label">Category</label>
        <select asp-for="Product.CategoryId" class="form-control">
            <option value="1">Dairy</option>
            <option value="2">Bread</option>
            <option value="3">Fruits</option>
        </select>
        <span class="text-danger" asp-validation-for="Product.CategoryId"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Product.Name"/>
        <span class="text-danger" asp-validation-for="Product.Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.Quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" asp-for="Product.Quantity" min="1" />
        <span class="text-danger" asp-validation-for="Product.Quantity"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.Price" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Product.Price" min="1" step=".01" />
        <span class="text-danger" asp-validation-for="Product.Price"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>